footer .footer-menu li a{
    text-decoration: none;
    color: #fff;
    font-weight: 200;
}

footer .footer-menu li a:hover{
    font-weight: 500;
    transition: 0.3s ease;
}

footer .footer-social li a i{
    font-size: 1.5rem;
}