/* PRODUCTS PAGE */
.products{
    background: #F2F2F2;
    padding: 5rem 0 0 0;
}

.products .product .sizes{
    background: rgba(255, 255, 255, 0.7);
    /* display: none; */
}

.products .product .sizes ul li a{
    padding: 0.4rem;

}

.products .product .sizes ul li a:hover{
    background: rgba(255, 255, 255, 0.4);
}

.products .price-info{
    /* background: #000; */
    padding-top: 0.1rem;
}

.products .price-info .description{
    font-size: 0.9rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 0;
}

.products .price-info .price{
    font-size: 0.9rem;
    /* font-style: italic; */
    font-weight: 300;
}

.products .discount-info p{
    font-size: 0.8rem;
}

.products .discount-info .transparent{
    color: transparent;
}