html *{
    /* font-size: 1em !important; */
    /* color: #000 !important; */
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

* {
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root{
    --white: #fff;
    --black: #000;
    --red: #FC2947;
    --blue: #3C486B;
    --gray: #454545;
    --green: #57C5B6;
    --yellow: #FEFF86;
    --purple: #B2A4FF;
    --cream: #FFF3E2;
    --lead: #BACDDB;
}

.topBar{
    background: var(--cream);
    color: var(--black);
    text-align: center;
    padding-top: 10px;
}

.initial-banner{
    padding: 10px;
}

.initial-banner h5{
    font-size: 0.7rem;
    letter-spacing: 0.2rem;
    font-weight: 400;
}

ul, ol{
    padding: 0px;
}

a, a:visited, a:ink, a:focus, a:hover, a:active {
    list-style: none;
    text-decoration: none;
}

.backColor, .backColor a {
    background: var(--purple);
    color: var(--white);
}

/* SOCIAL NETWORK */

.socialNetwork {
    font-size: 1rem;
    text-align: center;
    line-height: 30px;
    color: var(--white);
}

.socialNetwork:hover{
    color: var(--cream);
    transition: 0.5s ease;
}

/* ICONS AND LOGIN/SIGN IN BUTTONS */
.mainHeader {
    background: var(--black);
}

#top{
    padding-top: 15px;
}

#top a{
    color: var(--white);
    text-decoration: none;
}

#top ul li{
    display: inline;
    line-height: 30px;
    margin: 0px 5px;
    color: var(--white);
}

#top ul li a i{
    padding: 20px;
}


.register{
    text-align: right;
    font-size: 1rem;
}

.register ul li a:hover{
    color: var(--cream) !important;
    transition: 0.5 ease;
}


/* HEADER */
#header {
    margin: 1rem 0 0 0;
    bottom: auto;
}
/* logo */

#header #logo{
    padding-bottom: 2rem;
    
}

#header #logo a img{
    width: 250px;
}

#header #headerMenu{
    display: flex;
    justify-content: space-around;
}

/* categories */

#header #categoriesTitle{
    padding: 0.5rem;
    cursor: pointer;
}

#header #categoriesTitle p{
    font-weight: 400;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}

#header #categoriesTitle p span{
    padding: 0 0 0 1rem;
}

#header #categoriesTitle p span i {
    font-size: 1.5rem;
    vertical-align: sub;
}

/* Searching box */
#header #searchingBox {
    height: 3rem;
    padding: 0.5rem;
    padding-bottom: 4rem;
    width: 33%;
}
/* Shopping Bag */
#header #shoppingBag{
    padding: 0.5rem;
}

#header #shoppingBag a button i{
    font-size: 1.5rem;
    padding-right: 1rem;
    vertical-align: sub;
}

#header #shoppingBag p {
    line-height: 1.5rem;
}

/* Categories list */

#categories{
    display: none;
    position: relative;
}

#categories .accordion .accordion-item{
    border: none;
}

#categories .accordion .accordion-item h2 p{
    background: transparent;
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
}

#categories .accordion .accordion-item .accordion-body{
    padding: 0;
}

#categories .accordion .accordion-item .accordion-body ul li{
    text-align: center;
}

#categories .accordion .accordion-item .accordion-body ul li a{
    font-size: 0.8rem;
    font-weight: 300;
}


#categories a{
    text-decoration: none;
    color: var(--black);
    font-size: 0.8rem;
}



/* MEDIA QUERIES */

@media screen and (min-width: 768px) and (max-width: 992px){
    /* categories */
    #header #categoriesTitle{
        /* padding: 0.5rem; */
        cursor: pointer;
    }

    #header #categoriesTitle p{
        font-weight: 300;
        font-size: 1rem;
        letter-spacing: 0;
    }

    #header #categoriesTitle p span i {
        font-size: 1.5rem;
        vertical-align: sub;
    }

    /* Searching box */
    #header #searchingBox {
        height: 2rem;
        width: 33%;
        
    }
    /* Shopping Bag */
    #header #shoppingBag a button i{
        font-size: 1.2rem;
        padding-right: 0;
        vertical-align: bottom;
    }

    #header #shoppingBag p {
        line-height: 1.2rem;
        font-size: 0.8rem;
        text-align: center;
        font-weight: 300;
    }


    
}

@media screen and (max-width: 768px){
    #header #searchingBox {
        width: 70%; 
    }
}