html *{
    /* font-size: 1em !important; */
    /* color: #000 !important; */
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

* {
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root{
    --white: #fff;
    --black: #000;
    --red: #FC2947;
    --blue: #3C486B;
    --gray: #454545;
    --green: #57C5B6;
    --yellow: #FEFF86;
    --purple: #B2A4FF;
    --cream: #FFF3E2;
    --lead: #BACDDB;
}

body, html {
    height: 100%;
    margin: 0;
  }
/* BACKGROUND */
.bg{
    background-image: url('http://localhost/e-commerce/back-end/views/img/template/background-3.jpg');
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* MENU */

header{
    /* background: rgba(255, 255, 255, 1); */
    padding: 1rem 1rem 0rem 1rem;
    vertical-align: top;
    /* position: absolute; */
    /* top: 0;  */
    transition: background-color 0.4s ease-in-out;
}

.scrolled{
    background: rgba(255, 255, 255, 0.98);
    box-shadow: -1px 3px 37px -16px rgba(0,0,0,1);
    transition: 0.3s ease;

    /* opacity: 0.98; */
}

header nav{
    padding-left: 2rem;
}

header .offcanvas .offcanvas-body ul li{
    list-style: none;
    cursor: pointer;
}

header .offcanvas .offcanvas-body ul li:hover{
    border-bottom: 1px solid #000;
}

/* OFFCANVAS LIST */

header .offcanvas #subCategoryList li{
    padding: 0.8rem 1rem;
    text-align: left;
    font-weight: 300;
}

header .offcanvas #subCategoryList li a{
    text-decoration: none;
    color: #000;
}

header .offcanvas #subCategoryList li:hover{
    border-bottom: none;
    opacity: 0.5;
    transition: 0.3s ease;
}

/* LOGO */

header nav img{
    height: 1.5rem;
    /* padding-left: 1rem; */
}

header nav img:hover{
    transition: 0.3s ease;
    opacity: 0.5;
    cursor: pointer;
}

/* CATEGORIES */

header .category{
    padding-top: 0.3rem;
}

header .category ul li a{
    color: var(--black);
    text-decoration: none;  
    font-size: 0.8rem;
    font-weight: 400;

}

header .category ul li a:hover{
    /* font-weight: 500; */
    opacity: 0.5;
    border-bottom: 1px solid #000;
    transition: 0.3s ease;
}



/* ACTION BUTTONS */

header .actions-buttons ul li{
    padding: 0 1rem;
}

header .actions-buttons ul li a{
    text-decoration: none;
    color: #000;
}

header .actions-buttons ul li a i, header .actions-buttons ul li a p{
    font-size: 0.8rem;
}

header .actions-buttons ul li a:hover{
    transition: 0.3s ease;
    opacity: 0.5;
}














.topBar{
    background: var(--cream);
    color: var(--black);
    text-align: center;
    padding-top: 10px;
}

.initial-banner{
    padding: 10px;
}

.initial-banner h5{
    font-size: 0.7rem;
    letter-spacing: 0.2rem;
    font-weight: 400;
}

ul, ol{
    padding: 0px;
}

a, a:visited, a:ink, a:focus, a:hover, a:active {
    list-style: none;
    text-decoration: none;
}

.backColor, .backColor a {
    /* background: var(--purple); */
    color: var(--white);
}

/* SOCIAL NETWORK */

.socialNetwork {
    font-size: 1rem;
    text-align: center;
    line-height: 30px;
    color: var(--white);
}

.socialNetwork:hover{
    color: var(--cream);
    transition: 0.5s ease;
}

/* ICONS AND LOGIN/SIGN IN BUTTONS */
.mainHeader {
    background: var(--black);
}

#top{
    padding-top: 15px;
}

#top a{
    color: var(--white);
    text-decoration: none;
}

#top ul li{
    display: inline;
    /* line-height: 30px; */
    padding: 0px 5px;
    color: var(--white);
}

#top ul li a i{
    padding: 10px;
}


#top .register{
    text-align: right;
    font-size: 1rem;
}

#top .register ul li a:hover{
    color: var(--cream);
    transition: 0.5 ease;
}


/* HEADER */
#header {
    margin: 1rem 0 0 0;
    bottom: auto;
}
/* logo */

#header #logo{
    padding-bottom: 2rem;
    
}

#header #logo a img{
    width: 250px;
}

#header #headerMenu{
    display: flex;
    justify-content: space-around;
}

/* categories */

#header #categoriesTitle{
    padding: 0.5rem;
    cursor: pointer;
}

#header #categoriesTitle p{
    font-weight: 400;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}

#header #categoriesTitle p span{
    padding: 0 0 0 1rem;
}

#header #categoriesTitle p span i {
    font-size: 1.5rem;
    vertical-align: sub;
}

/* Searching box */
#header #searchingBox {
    height: 3rem;
    padding: 0.5rem;
    padding-bottom: 4rem;
    width: 33%;
}
/* Shopping Bag */
#header #shoppingBag{
    padding: 0.5rem;
}

#header #shoppingBag a button i{
    font-size: 1.5rem;
    padding-right: 1rem;
    vertical-align: sub;
}

#header #shoppingBag p {
    line-height: 1.5rem;
}

/* Categories list */

#categories{
    display: none;
    position: relative;
}


#categories .accordion .accordion-item{
    border: none;
}

#categories .accordion .accordion-item h2 p{
    background: transparent;
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 0.3rem;
    padding: 1rem;
    margin: 0;
}

#categories .accordion .accordion-item .accordion-body{
    
    padding: 0;
}

#categories .accordion .accordion-item .accordion-body ul li{
    text-align: center;
    padding: 0.3rem;
}

#categories .accordion .accordion-item .accordion-body ul li a{
    font-size: 0.8rem;
    font-weight: 300;
}


#categories a{
    text-decoration: none;
    color: var(--black);
    font-size: 0.8rem;
}

/* 404 Styles */
.error-404{
    background: #F2F2F2;
    height: 100%;
    padding: 20rem 0 0 0;
}

.error-404 .error-title{
    text-shadow: 8px 8px var(--lead);
}





/* MEDIA QUERIES */

@media screen and (min-width: 768px) and (max-width: 992px){
    /* categories */
    


    
}

@media screen and (max-width: 768px){
    
}